.header {
    margin: 0 auto;
    background-color: #1b1b1b;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 0 10px;
    }
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

.searching-iss {
    margin-bottom: 10px;
}